GAS.Config.MySQL.Enabled = true
GAS.Config.MySQL.Host = "db.uwu.tools"
GAS.Config.MySQL.Port = 3306
GAS.Config.MySQL.Username = "hrz_prod"
GAS.Config.MySQL.Password = "{{ prod_db_password }}"
GAS.Config.MySQL.Database = "hrz_prod"
GAS.Config.MySQL.ServerNickname = "HRZ:Prod"
GAS.Config.MySQL.ServerTablePrefix = "hrz_prod_"
return true